<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>keep-alive</title>
</head>

<body>
    <div id="app">
            <keep-alive>
                <component :is="components">
            </keep-alive>
        <button @click="changeComponent">show</button>
    </div>
    <script type="module">
        import { createApp, ref, onActivated,onDeactivated} from '../src/index.js';
        // import { createApp,ref,onActivated,onDeactivated,onMounted} from '../vue.global.js';
        const componentD = {
            template: '123412',
        }
        const componentA = {
            template: '<input v-model="data1" type="text"/> <component-d>',
            components: {componentD},
            setup() {
                onActivated(()=>{
                    // let a =213
                    console.log("onActivated")
                })
                // onDeactivated(()=>{
                //     console.log(onDeactivated);
                // })
                return {
                    data1:ref('组件A')
                }
            }
        }
        const componentB = {
            template: ' <input v-model="data2" type="text" />',
            setup() {
                return {
                    data2:ref('组件B')
                }
            }
        }
        const componentC = {
            template: 'slot <slot/>',
            setup() {
                return {
                    data2:ref(0)
                }
            }
        }
 
        const app =  createApp({
            components: { componentA, componentB ,componentC},
            setup() {
                const components = ref('componentA')
                const changeComponent = () => {
                    components.value = components.value == 'componentA' ? 'componentB' : 'componentA'
                }
                return {
                    changeComponent,components
                }
            }
        })
        app.mount('#app')
    </script>
</body>

</html>